extends layout/layout
block variables
  -var title = sitename+' - О компании'
  -var namespace = 'about'
block content

  section.section.page-head
    .section__dots(style='background-image:url("./img/ellipse.svg");')
    .page-head__dots
      .page-head__dot
    .container.page-head__container
      h1.h2.page-head__title.page-head__animate-item О компании EngineX

  section.section.section_bg-light.text-center
    .container
      .row 
        h2 Наша миссия - создание уникальных CMS с неограниченной масштабируемостью для инновационных продуктов
        p.text-large Мы разрабатываем нестандартные решения для стартапов,<br> SaaS-платформ, маркетплейсов и финтех-проектов

  section.section.we-solve-problems
    .container 
      h2.section__title.text-center Ключевые задачи, которые мы решаем
      .wide-text-card-container
      
        mixin block(index, title, text, image)
          .wide-text-card.wide-text-card_2.slide-bg-card(data-touch-hover)
            .image.image_contain.wide-text-card__image.wide-text-card__image_2
                img(data-src=image, alt="image").lazyload
            .wide-text-card__content 
              span.h2.wide-text-card__index 0#{index}
              h4.wide-text-card__title.wide-text-card__title_2=title
              p.wide-text-card__text=text
            

        +block(1, 
          'Индивидуальный подход к каждой задаче', 
          'У нас нет одного общего готового решения для всех. Мы не делаем коробочный продукт, а создаем уникальный проект в каждом отдельном случае, учитывая любые пожелания заказчика.',
          './img/iivo.png'
        )
        +block(2, 
          'Даем комплексное решение для WEB-инфраструктуры Вашего проекта', 
          'Вам не нужно думать, как должен работать сайт, сервер, защита и прочее. Ваша задача - дать хороший продукт рынку и получать деньги. А мы позаботимся об инструментах для этого.',
          './img/lldls.png'
        )
        +block(3, 
          'Техническая поддержка 24/7 в любой точке мира', 
          'Обеспечиваем пожизненное обновление нашей CMS - Вы автоматически будуте получать все апдейты безопасности и улучшения ядра системы. Кроме того, команда EngineX готова оказать любую техническую поддержку и ответить на все вопросы в любое время дня и ночи.',
          './img/kdnt.png'
        )

  section.section.section_bg-dark.about-us   
    .container
      .text-center.mb-3.mb-xl-5
        h2 Немного о нас
        p.text-medium Почему Вы можете доверять EngineX и что мы гарантируем
      .about-us__container 
        mixin block(title, image)
          .about-us__block.slide-bg-card(data-touch-hover)  
            .image.image_contain 
              img(src=image, alt="image").lazyload
            h6.about-us__block-title !{title}
        
        +block('Более 10 лет<br> в разработке CMS', './img/about/1.png')
        +block('Только узкопрофильные специалисты', './img/about/2.png')
        +block('Больше 50 реализованных проектов', './img/about/3.png')
        +block('Одновременно<br> в разработке<br> только 1 проект', './img/about/4.png')
        +block('Всегда закрываем проект в срок либо выплачиваем неустойку', './img/about/5.png')
        +block('Команда на связи<br> всегда, 24/7', './img/about/6.png')


  include blocks/subscribe2