header.header
  .container.header__container 
    .header__logo
      a(href=home data-namespace='home').logo Engine
        span X

    nav.nav.header__nav
      ul.nav__list  
        li.nav__item 
          a(href=home data-namespace='home').nav__link Главная 
        li.nav__item 
          a(href=technology data-namespace='technology').nav__link Технология
        li.nav__item 
          a(href=about data-namespace='about').nav__link О компании
        li.nav__item 
          a(href=blog data-namespace='blog').nav__link Блог
    
    .header__button
      button(type='button').button Кнопка, которую<br> НЕ надо нажимать
        