header.header(data-scroll-lock-fill-gap)
  .container.header__container 
    .header__logo-wrapper
      a(href=home data-namespace='home').logo.header__logo Engine
        span X
 
    nav.nav.header__nav
      ul.nav__list  
        li.nav__item 
          a(href=home data-namespace='home').nav__link.header__nav-link Главная 
        li.nav__item 
          a(href=technology data-namespace='technology').nav__link.header__nav-link Технология
        li.nav__item 
          a(href=about data-namespace='about').nav__link.header__nav-link О компании
        li.nav__item 
          a(href=blog data-namespace='blog').nav__link.header__nav-link Блог
    
    .header__button
      button(type='button').button.button-magic Кнопка, которую<br> НЕ надо нажимать
    
    .nav-toggle
      span
      span
      span

nav.mobile-nav
  .mobile-nav__container(data-scroll-lock-scrollable)
    .container
      ul.mobile-nav__list 
        li.mobile-nav__item.mobile-nav__animate-item
          a(href=home data-namespace='home').mobile-nav__link Главная 
        li.mobile-nav__item.mobile-nav__animate-item
          a(href=technology data-namespace='technology').mobile-nav__link Технология
        li.mobile-nav__item.mobile-nav__animate-item
          a(href=about data-namespace='about').mobile-nav__link О компании
        li.mobile-nav__item.mobile-nav__animate-item 
          a(href=blog data-namespace='blog').mobile-nav__link Блог

      .socials.mobile-nav__socials
        ul.socials__list 
          li.socials__item.mobile-nav__animate-item 
            a(href="#").socials__link facebook  
              svg.icon
                use(xlink:href='./img/icons/icons.svg#facebook') 
          li.socials__item.mobile-nav__animate-item 
            a(href="#").socials__link telegram  
              svg.icon
                use(xlink:href='./img/icons/icons.svg#telegram') 
      
      a(href="javascript:void(0);").button.button_style-1.mobile-nav__button.mobile-nav__animate-item Связаться с нами